#server {
#  listen ${NGINX_PORT};
#  deny  all;
#  root /usr/share/nginx/html;
#  index index.html index.htm;
#}


server {
  listen ${NGINX_PORT};
  server_name ${NGINX_HOST}
  root /usr/share/nginx/html;
  index index.html index.htm;

  location / {
   proxy_set_header Host $http_host;
   proxy_pass http://grafana:3000/;
  }
}
